
        #main {
            padding: 0px;
            margin: 0px;
            /* border: 1px solid; */
            height: 5000px;
            width: 100%;
            /* font-family: 'Lato', sans-serif;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif; */
            font-family: 'Source sans Pro', sans-serif;
        }

        #topnav {
            /* border: 1px solid; */
            height: 50px;
            background-color: #E12D2D;
            display: flex;
            /* position: fixed; */
        }

        #logo {
            /* border: 1px solid; */
            height: 95px;
            width: 140px;
            background: url(../Img/souled\ store.png);
            display: flex;
            background-size: cover;
            margin-top: 15px;
            margin-left: 70px;
            overflow: auto;

        }

        #eyes {
            /* border: 1px solid; */
            height: 17px;
            width: 40px;
            margin-top: 35px;
            margin-left: 18px;
            display: flex;
        }

        .eye {
            /* border: 1px solid; */
            height: 15px;
            width: 11px;
            margin-left: 4px;
            border-radius: 50%;
            background-color: rgb(248, 43, 16);
            animation-name: box;
            animation-duration: 3s;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes box {
            0% {
                height: 12px;
            }

            5% {
                margin-top: 5px;
                height: 0px;
            }

            10% {
                height: 12px;
            }

            15% {
                margin-top: 5px;
                height: 0px;
            }

            20% {
                height: 12px;
            }

            25% {
                height: 12px;
            }

            30% {
                height: 12px;
            }

            35% {
                height: 12px;
            }

            40% {
                height: 12px;
            }

            45% {
                height: 12px;
            }

            50% {
                height: 12px;
            }

            55% {
                height: 12px;
            }

            60% {
                height: 12px;
            }

            65% {
                height: 12px;
            }

            70% {
                height: 12px;
            }

            75% {
                height: 12px;
            }

            80% {
                height: 12px;
            }

            85% {
                height: 12px;
            }

            90% {
                height: 12px;
            }

            95% {
                height: 12px;
            }

            100% {
                height: 12px;
            }
        }

        #left {
            height: 13px;
            margin-top: 1px;
            margin-right: 12px;
        }

        .btns {
            border: 1px solid black;
            height: 34px;
            width: 90px;
            /* margin-left: 1px; */
            padding-left: 20px;
            padding-top: 15px;
            color: white;
            font-weight: 1000;
            border-top: none;
            border-bottom: none;
        }

        #women {
            margin-left: 55px;
            padding-right: 20px;
            border-right: none;

        }

        #kids {
            border-left: none;
        }

        .btns:hover {
            background-color: #f07b7b;
        }

        #rbtns {
            /* border: 1px solid; */
            height: 20px;
            width: 350px;
            margin-left: 260px;
            display: flex;
            margin-top: 15px;
        }

        .btnsr {
            /* border: 1px solid black; */
            height: 20px;
            width: 105px;
            font-size: 13px;
            color: white;
        }
        #download{
            width: 119px;
        }
        #download i{
            font-size: 20px;
        }
        #topnav2 {
            /* border: 1px solid; */
            height: 70px;
            display: flex;
            box-shadow: 2px 2px 5px rgb(186, 186, 186);
            /* position: fixed; */
        }

        .nav2div {
            /* border: 1px solid; */
            height: 50px;
            width: 110px;
            padding-top: 15px;
            font-weight: 600;
            font-size: 14px;
            padding-left: 5px;
            margin-left: 1px;
            color: gray;
            position: static;
        }
        
        #topwear {
            margin-left: 250px;
            height: 30px;
        }

        /* .nav2div:hover {

            border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
        } */

        #bottomwear {
            height: 30px;
            width: 130px;
        }

        #BASICS {
            height: 30px;
            width: 80px;
            margin-left: 20px;
        }
        #BASICS:hover{
            border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
        }
        #collection {
            height: 30px;
            width: 120px;
        }

        #member {
            height: 30px;
            position: absolute;
            margin-left: 970px;
        }
        #member:hover{
            border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
        }
        .fortop{
            /* border: 1px solid gray; */
            height: 350px;
            width: 200px;
            /* margin-left: 0%; */
            /* position: relative; */
            /* margin-top: -20px; */
            background-color: white;
            margin-top: 50px;
            margin-left: -200px;
            box-shadow: 0px 0px 6px gray;
            display: none;
        }
        .fortopmenu{
            /* border: 1px solid; */
            height: 30px;
            width: 190px;
            margin-left: 10px;
            font-size: 14px;
            margin-top: 2px;
            color: gray;
        }
        .fortopmenu:hover{
            color: #E12D2D;
        }
      #topwear:hover+.fortop{
        display: block;
      }
      .fortop:hover{
        display: block;
      }
     #topwear:hover{
        border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
     }
      .forbottom{
        /* border: 1px solid; */
        height: 224px;
        width: 160px;
        background-color: white;
        margin-top: 50px;
        margin-left: -160px;
        box-shadow: 0px 0px 6px gray;
        display: none;
      }
      .bottommenu{
        /* border: 1px solid; */
        height: 30px;
        width: 149px;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 2px;
        color: gray;
    }
    #bottomwear:hover+.forbottom{
        display: block;
      }
      .forbottom:hover{
        display: block;
      }
      .bottommenu:hover{
        color: #E12D2D;
    }
    #bottomwear:hover{
        border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
     }
    .forshoes{
        /* border: 1px solid; */
        height: 212px;
        width: 140px;
        background-color: white;
        margin-top: 70px;
        margin-left: -140px;
        box-shadow: 0px 0px 6px gray;
        display: none;
      }
      .shoemenu{
        /* border: 1px solid; */
        height: 30px;
        width: 130px;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 5px;
        color: gray;
    }
    #shoes:hover+.forshoes{
        display: block;
      }
      .forshoes:hover{
        display: block;
      }
      .shoemenu:hover{
        color: #E12D2D;
    }
    #shoes:hover{
        border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
     }
    .forcollection{
        /* border: 1px solid; */
        height: 252px;
        width: 140px;
        background-color: white;
        margin-top: 50px;
        margin-left: -140px;
        box-shadow: 0px 0px 6px gray;
        display: none;
    }
    .collectionmenu{
        /* border: 1px solid; */
        height: 30px;
        width: 130px;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 2px;
        color: gray;
    }
    #collection:hover+.forcollection{
        display: block;
      }
      .forcollection:hover{
        display: block;
      }
      .collectionmenu:hover{
        color: #E12D2D;
    }
    #collection:hover{
        border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
     }
     #fourlogo{
        /* border: 1px solid; */
        height: 30px;
        width: 160px;
        display: flex;
        margin-top: 10px;
        position: absolute;
        margin-left: 1070px;
     }
     .logos{
        /* border: 1px solid; */
        height: 35px;
        width: 30px;
        margin-left: 8px;
     }
    #fourlogo i{
        font-size: 27px;
        border: gray;
        background-color: white;
    }
    .logos:hover{
        color: #E12D2D;
        border: 5px solid #E12D2D;
        border-top: none;
        border-left: none;
        border-right: none;

    }
    .forshop{
        /* border: 1px solid; */
        width: 99%;
        margin-top: 70px;
        position: relative;
        margin-left: -962px;
        height: 470px;
        display: flex;
        font-size: 14px;
        background-color: white;
        box-shadow: 0px 0px 6px gray;
        display: none;
    }
    .shopcolumns{
        /* border: 1px solid; */
        height: 440px;
        margin-top: 10px;
        width: 17%;
    }
    .shopc1row{
        /* border: 1px solid; */
        height: 31px;
        width: 91%;
        margin-left: 8%;
    }
    .shopc1row:hover{
        color: #E12D2D;
    }
    #shop:hover+.forshop{
        display: block;
        display: flex;
    }
    .forshop:hover{
        display: block;
        display: flex;
    }
    #shop:hover{
        border: 5px solid #E12D2D;
            border-left: none;
            border-right: none;
            border-top: none;
            color: #E12D2D;
    }
    #forbanner {
        /* border: 1px solid; */
        height: 427px;
        width: 100%;
        animation-name: banner;
        animation-duration: 20s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
    }
    @keyframes banner{
        30%{
            background-image: url(../Img/banner\ first.webp);
            background-size: cover;
        }
        50%{
            background-image: url(../Img/2banner.webp);
            background-size: cover;
        }
        100%{
            background-image: url(../Img/bamnner3.webp);
            background-size: cover;
        }
    }
    img {
        width: 100%;
    }
    #dots {
        /* border: 1px solid; */
        height: 30px;
        width: 300px;
        margin: 0px auto;
        display: flex;
    }
    #dots1{
        /* border: 1px solid; */
        height: 30px;
        width: 80px;
        margin: 0px auto;
        display: flex;
    
    }
    
    .dot {
        /* border: 1px solid; */
        height: 10px;
        width: 10px;
        margin-left: 5px;
        border-radius: 50%;
        margin-top: 5px;
        background-color: rgb(214, 214, 214);
    }
    #firstdot{
        background-color: green;
    }
    .shopby{
        /* border: 1px solid; */
        height: 40px;
        width: 500px;
        font-weight: 11900;
        margin: 0px auto;
        margin-top: 25px;
        margin-bottom: 20px;
        /* align-items: center;
        justify-content: center; */
    }
    #secbanner{
        /* border: 1px solid; */
        height: 360px;
        width: 100%;
        display: flex;
    }
    .secban1{
        /* border: 1px solid; */
        height: 350px;
        width: 27%;
        margin-left: 60px;
    }
    
    #fourcategory{
        /* border: 1px solid; */
        height: 280px;
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
    .cate{
        /* border: 1px solid; */
        height: 275px;
        width: 22%;
        margin-left: 30px;
    }
    #threecategory{
        /* border: 1px solid; */
        height: 280px;
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
    .three{
        /* border: 1px solid; */
        height: 275px;
        width: 22%;
        margin-left: 30px;
    }
    #ten{
        width: 46%;
    }
    #topselling{
         /* border: 1px solid; */
         height: 367px;
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
    #rate{
        /* border: 1px solid; */
        height: 90px;
        width: 100%;
        display: flex;
    }
    .forrate{
        /* border: 1px solid; */
        height: 70px;
        width: 22%;
        margin-left: 30px;
    }
    .rate1{
        /* border: 1px solid; */
        height: 20px;
        width: 100%;
    }
    .memb{
        /* border: 1px solid; */
        height: 319px;
        width: 100%;
    }
    .forceleb{
        /* border: 1px solid; */
        height: 426px;
        width: 100%;
    }
    #merchandise{
        /* border: 1px solid; */
        height: 193px;
        width: 100%;
        display: flex;
    }
    .ofmerchand{
        /* border: 1px solid; */
        height: 190px;
        width: 230px;
        margin-left: 15px;
    }
    #homeg{
        /* border: 1px solid; */
        height: 70px;
        width: 100%;
        margin-top: 40px;
        background-color: #E12D2D;
        color: white;
    }
    #homeg h1{
        padding-top: 17px;
    }
    #sixm{
        /* border: 1px solid; */
        height: 100px;
        width: 100%;
        font-size: 45px;
    }